

.container {
    display: flex;
    /* background-color: #f5f6fa; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1528px;
    height:785px
    
}
.sidebar{
  width: 230px;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 9px;
}
.title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.link{
  color: #ecf0f1;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
  text-decoration: none;
}
.body{
  color: white;
    display: flex;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;

}
.titel1{
  /* color: white; */
  font-size: 40px;
  font-weight: bold;
  display: flex;
  height: 200px;
  width: 500px;
  margin-left: 30px;
 
}
.link1{
  color: white;
  margin-top: 300px;
  background-color: green;
  width: 200px;
  height: 200px;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
      margin-right: 60px;

}

